
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=firefox %u
TryExec=firefox
Name=Preferred Web Browser
GenericName=Web Browser
Comment=Browse the Web
Icon=redhat-web-browser.png
Terminal=false
X-Panel-Monitor=true
NoDisplay=true
